<div class="flex w-dvw h-dvh">

  <div #leftBar class="flex flex-col min-w-md max-w-md bg-amber-300" id="leftBar">
    <div class="w-full min-h-[800px] bg-gray-300 p-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eos explicabo facere ipsam
      ipsum nam optio praesentium quae ratione sit? Distinctio eius possimus provident rerum voluptas. Amet explicabo
      illum quos?
    </div>
    <div class="overflow-auto">
      <ul class="list-none">
        <li class="flex justify-between w-full p-4">1</li>
        <li class="flex justify-between w-full p-4">2</li>
        <li class="flex justify-between w-full p-4">3</li>
        <li class="flex justify-between w-full p-4">4</li>
        <li class="flex justify-between w-full p-4">5</li>
      </ul>
    </div>
  </div>
  <div class="flex grow">

    <p-button (click)="toggleLeftBar()" label="Open"></p-button>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur, dolore eligendi esse
    laborum maiores placeat tenetur. Atque dolorum eius enim, expedita minima molestiae non odio officiis veniam
    veritatis. Unde.

  </div>
</div>
