<div
  class="flex grow w-dvw top-0 z-10 p-2 gap-2 h-full bg-[url('/images/main-bg.jpg')] bg-cover bg-center bg-no-repeat">

  <!-- Left panel -->
  <div class="flex flex-col h-full min-w-md max-w-md max-h-full m-2">
    <app-side-panel
      class="w-full h-full rounded-xs"></app-side-panel>
  </div>

  <!-- Main Content -->
  <div class="flex flex-col w-full h-full relative">
    <div class="flex justify-between items-center w-full text-white gap-2 p-2">
      <div class="flex items-center text-xs  text-gray-300 flex-none">
        CPU: {{ cpuUsage }}% / Memory: {{ memoryUsage }}% / Disk: {{ diskUsage }}%
      </div>

      <div class="font-bold text-3xl">{{ viewName }}</div>
    </div>
    <app-view-vis (click)="toggleView($event)"
                  [ngClass]="isIrMain ? 'sub-view' : 'main-view'"
                  class="absolute transition-all">
    </app-view-vis>
    <app-view-ir (click)="toggleView($event)" [ngClass]="isIrMain ? 'main-view' : 'sub-view'"
                 class="absolute transition-all">
    </app-view-ir>
  </div>


</div>

