
.main-view {
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 0;
  top: 0;

}

.video-blur-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(24px) brightness(0.7);
  z-index: 1;
  pointer-events: none;
  background-color: #efefef;
  /*opacity: 0.7;*/
}

.sub-view {
  width: 450px;
  /*height: 200px;*/
  right: 50px;
  bottom: 40px;
  z-index: 15;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #ccc;
  opacity: 0.9;
}

.sub-view:hover {
  opacity: 1.0;
  cursor: pointer;
}

.sub-view:hover:after {
  content: "点击切换到主视图";
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #fff;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.19);
  display: block;
}


