<div class="flex min-w-[900px] h-full overflow-hidden">
  <div class="flex flex-col w-full h-full">
    <!--    <div class="flex items-center justify-between p-4 ">-->

    <!--      <div class="flex items-center gap-4">-->
    <!--        <div class="flex items-center gap-2">-->
    <!--          <p-button (click)="connectToStream()" class="text-gray-100" label="开启"></p-button>-->
    <!--          <p-button (click)="closeConnection()" class="text-gray-100" label="关闭"></p-button>-->
    <!--          <p-button class="text-gray-100" label="设置"></p-button>-->
    <!--        </div>-->

    <!--      </div>-->
    <!--    </div>-->
    <div class="flex h-full">
      <video #videoElement (contextmenu)="disableContextMenu($event)" autoplay class="w-full h-full bg-gray-500"
             id="videoElement"
             playsinline></video>

    </div>
  </div>

</div>

<div #logElement id="log" style="display: none"></div>
