<div class="flex justify-between items-center">
  <div class="flex  gap-4 p-2">
    <img alt="Logo" class="h-16" src="images/robot-dog.png">
    <span class="font-[Impact] text-[48px] font-bold  text-gray-800 dark:text-white">MONITORING SYSTEM</span>
  </div>
  <div class="flex items-center gap-4">
    <div class="flex items-center  gap-2">
      <p-button label="On/Off"></p-button>
      <p-button label="地图模式"></p-button>
      <p-button label="历史记录"></p-button>
      <p-button label="文件列表"></p-button>
      <p-button label="全局设置"></p-button>
    </div>

  </div>

</div>

