<p-dataView #dv [value]="products()">
  <ng-template #list let-items>
    <div class="grid grid-cols-12 gap-4 grid-nogutter">
      <div *ngFor="let item of items; let first = first" class="col-span-12">
        <div
          [ngClass]="{ 'border-t border-gray-200': !first }"
          class="flex flex-col sm:flex-row sm:items-center p-4 gap-4"
        >
          <div class="md:w-40 relative">
            <img
              [alt]="item.name"
              [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + item.image"
              class="block xl:block mx-auto rounded-border w-full"
            />

          </div>
          <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
            <div class="flex flex-row md:flex-col justify-between items-start gap-2">
              <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">{{ item.name }}</div>

            </div>
            <div class="flex flex-col md:items-end gap-8">
                            <span class="text-xl font-semibold text-surface-900 dark:text-surface-0">{{
                                '$' + item.price
                              }}</span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
